<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Final_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalProject.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-3 text-white min-vh-100">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">
                            Final Project
                        </span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link align-middle px-0 text-white">
                                <i class="fs-4 bi bi-house-fill"></i><span class="d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link px-0 text-white" asp-controller="Roles" asp-action="Index">Manage Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-0 text-white" asp-controller="Users" asp-action="Index">Manage Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-0 text-white" asp-controller="" asp-action="">Session Timeout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-0 text-white" asp-controller="" asp-action="">Audit Logs</a>
                            </li>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link px-0 text-white" asp-controller="NewTask" asp-action="Index">Task & Diary Management</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-0 text-white" asp-controller="Appointment" asp-action="Index">Appointment Management</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-0 text-white" asp-area="" asp-controller="HomeDashboard" asp-action="CreateNewLead">Create New Lead</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-0 text-white" asp-area="" asp-controller="Appointment" asp-action="Create">Create New Appointment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-0 text-white" asp-controller="HomeDashboard" asp-action="RecentCustomer">Recently Viewed Customers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-0 text-white" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Profile</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                    <hr>
                </div>
            </div>
                <main role="main" class="col py-3">
                    @RenderBody()
                </main>
        </div>
    </div>

    @* <footer class="border-top footer text-muted">
         <div class="container">
            &copy; 2024 - FinalProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> 
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script> 
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        let inactivityTime = function () {
            let time;
            window.onload = resetTimer;
            window.onmousemove = resetTimer;
            window.onmousedown = resetTimer;
            window.ontouchstart = resetTimer;
            window.ontouchmove = resetTimer;
            window.onclick = resetTimer;
            window.onkeypress = resetTimer;
            window.addEventListener('scroll', resetTimer, true);

            function showAlert() {
                alert("You have been inactive for a while!");
            }

            function resetTimer() {
                clearTimeout(time);
                time = setTimeout(showAlert, 240000); // 4 minute
            }
        };

        inactivityTime();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
