@{
    ViewData["Title"] = "CreateNewLead";
}

<form class="form">
    <span class="heading">Create New Lead</span>
    <br />
    <input Type="text" placeholder="Title" class="form--input" />
    <input Type="text" placeholder="First Name" class="form--input" />
    <input Type="text" placeholder="Middle Name" class="form--input" />
    <input Type="text" placeholder="Surname" class="form--input" />
    <input Type="text" placeholder="Preferred Name" class="form--input" />
    <input Type="email" placeholder="Email" class="form--input" />
    <input type="number" placeholder="Phone Number" class="form--input" />
    <input Type="text" placeholder="Address" class="form--input" />
    <br />
    <button type="submit" class="button-submit"> Create </button>
    <br />
</form>
