@model Appointment
@{
    ViewData["Title"] = "CreateNewAppointment";
}

<form class="form" asp-action="CreateNewAppointment" method="post">
    <span class="heading">Create New Appointment</span>
    <br />
    <input type="text" placeholder="Appointment Title" class="form--input" asp-for="AppTitle" />
    <input type="date" placeholder="Start Date" class="form--input" asp-for="StartDateTime" />
    <input type="date" placeholder="End Date" class="form--input" asp-for="EndDateTime">
    <input type="text" row="3" placeholder="Description" class="form--input" asp-for="Description">
    <input type="text" placeholder="Location" class="form--input" asp-for="Location">
    <input type="text" placeholder="Attendees" class="form--input" asp-for="Attendees">
    <br />
    <button class="button-submit" type="submit"> Create </button>
</form>
