@model List<RecentCustomer>
@{
    ViewData["Title"] = "Recently Viewed Customer List";
}

<h3 class="heading">Recently Viewed Customers</h3>

<form method="get" asp-action="RecentCustomer">
    <p>
        <input type="search" placeholder="Search" value="@ViewData["GetRecentCustomerDetails"]" name="Customersearch" />
        <input type="submit" value="Search" class="btn btn-primary" /> | 
        <a asp-action="RecentCustomer" class="btn btn-secondary"> Get All Recently Viewed Customers</a>
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Customer Name</th>
            <th>Viewed Time</th>
            <th>Viewed By</th>
        </tr>
    </thead>
    <tbody>
        @{
            int serial = 0;
        }
        @foreach (var RecentCustomer in Model)
        {
            <tr>
                @{
                    serial = serial + 1;
                }
                <td>@serial </td>
                <td>@RecentCustomer.PreferredName</td>
                <td>@RecentCustomer.ViewedTime</td>
                <td>@RecentCustomer.ViewedBy</td>                
            </tr>
        }
    </tbody>
</table>
